<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../pages/status/status.css">
    <link rel="stylesheet" href="./card.css">
</head>
<body>
    <div class="container">

        <div class="card">
            <div class="card-wrapper">
                <p class="card-id">#<span class="card-id-number">RT3080</span></p>
                <p class="card-date">Due  <span class="card-time">19 Aug 2021</span></p>
                <p class="card-info">Jensen Huang</p>
                <p class="card-amount">£ 1,800.90</p>
                <button class="status-btn">
                    <span class="status-btn-title">
                        Pending
                    </span>
                </button>
                <button class="btn-status btn">
                    <a href="../../pages/status/status.html">
                        <img src="../../images/card-arrow.svg" alt="Arrow">
                    </a>
                </button>
            </div>
        </div>

    </div>
</body>
</html>