<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="./form.css">
</head>
<body>
    <form class="form">
        <div class="form-box">
            <label for="name">Street Address</label>
            <input class="error" type="text" id="name" name="name" autocomplete="off">
        </div>
    </form>
</body>
</html>