body{
    margin: 0;
}
.modal-invoice{
    background-color: var(--dark-white-color);
    border-radius: 0px 20px 20px 0px;
    max-width: 719px;
    width: 100%;
    height: 100%;
    padding: 59px 56px 32px 159px;
    padding-bottom: 110px;
    position: fixed;
    z-index: 4;
    overflow-y: scroll;
    display: none;
}
.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.form-wrapper input {
    max-width: 152px;
    width: 100%;
}

.bill-from-title {
    margin: 46px 0 24px;
    color:  #7C5DFA;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
}

.bill-to {
    margin-top: 49px;
}

.bill-to-title {
    margin-top: 0;
}

.form-data-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-data-wrapper input {
    width: 240px;
    width: 100%;
}

input[type="date"] {
    width:240px ;
    background-image: url("../../images/calendar.svg");
    background-repeat: no-repeat;
    background-position: 92% 20px;
    
    padding-right: 16px;
    /* color: #7E88C3; */
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.invoice-items-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.invoice-items-box button {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 39px;
}

.invoice-modal-footer {
    display: flex;
    align-items: center;
    max-width: 719px;
    width: 90%;
    border-radius: 0px 20px 20px 0px;
    height: 110px;
    width: 90%;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: var(--dark-white-color);
    z-index: 10;
    border: 1px solid var(--modal-color);
    flex-shrink: 0;
    padding-left: 159px;
}

.modal-btn-box {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 139px;
}

.modal-btn-box .btn-draft {
    max-width: 133px;
    width: 100%;
}

.btn-discard{
    max-width: 96px;
    width: 100%;
}

.modal-btn-box .btn-save {
    max-width: 128px;
    width: 100%;
}

.modal-delete {
    position: fixed;
    border-radius: 8px;
    background: var(--modal-bg-color);
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    transform: translate(-50%, -50%);
    max-width: 480px;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 10;
    padding: 51px 48px 48px;
}

.delete-title {
    margin: 0;
}

.modal-subtitle {
    margin: 12px 0 0;
    color:  var(--dark-grey-color);
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.1px;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.modal-buttons .btn-primary {
    max-width: 91px;
    width: 100%;
}

.modal-buttons .btn-danger {
    max-width: 89px;
    width: 100%;
}

.invoice-items-list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.items-title-list {
    display: flex;
    gap: 16px;
    margin-bottom: 15px;
    padding: 0;
    max-width: 504px;
    width: 100%;
    list-style-type: none;
}

.invoice-title {
    color: var(--dark-black-color);
}

.invoice-items-title {
    color: var(--title-color);
}

.items-title {
    color: var(--grapes-color);
    font-family: "League Spartan";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: -0.1px;
    margin: 0;
    padding: 0;
    margin-left: -1px;
    text-align: left;
}

.invoice-items-item {
    list-style-type: none;
}

.first-title {
    display: block;
    width: 214px;
    text-align: left;
    margin: 0;
}

.second-title {
    width: 46px;
    display: block;
    text-align: left;
    margin: 0;
}

.third-title {
    width: 100px;
    display: block;
    text-align: left;
    margin: 0;
}

.fourth-title {
  width:56px;
  display: block;
  text-align: left;
  margin: 0;
}

.items-type {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-top: -24px;
    list-style-type: none;
}

.items-name {
    max-width: 214px;
    width: 100%;
}

.qty {
    max-width: 46px;
    width: 100%;
}

.price {
    max-width: 100px;
    width: 100%; 
}

.total {
    max-width: 56px;
    width: 100%; 
    color:  var(--dark-grey-color);
    font-family: "League Spartan";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    letter-spacing: -0.25px;
}

.trash-btn {
    margin-left: 10px;
}

input[type="number"] {
    padding: 18px 2px 15px;
}
.message {
    position: absolute;
    right: 17px;
    color: var(--error-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px; 
    letter-spacing: -0.208px;
}

.error-message {
    color:  var(--error-color);
}