<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="./dropdown.css">
</head>
<body>
    
    <div class="dropdown">
        <div class="select">
            <span class="selected">Net 30 Days</span>
            <img class="select-icon" src="../../images/filter-icon.svg" alt="Icon">
        </div>
        <ul class="menu">
            <li class="menu-item">Net 1 Day</li>
            <li class="menu-item ">Net 7 Days</li>
            <li class="menu-item ">Net 14 Days</li>
            <li class="menu-item">Net 30 Days</li>
        </ul>
    </div>

<div class="" style="margin-bottom: 80px;"></div>

    <div class="filter">
        <div class="filter-select">
            <span class="filter-text">Filter by status</span>
            <img class="filter-icon" src="../../images/filter-icon.svg" alt="Icon">
        </div>
        <ul class="filter-list">
            <li class="filter-item ">
                <img class="filter-img" src="../../images/check.svg" alt="Icon"
                width="16" height="16">
                Draft
            </li>
            <li class="filter-item ">
                <img class="filter-img" src="../../images/check.svg" alt="Icon"
                width="16" height="16">
                Pending
            </li>
            <li class="filter-item ">
                <img class="filter-img" src="../../images/check.svg" alt="Icon"
                width="16" height="16">
                Paid
            </li>
        </ul>
    </div>

    <script src="./dropdown.js"></script>
</body>
</html>